{% extends 'layouts/blank.html' %}

{% block content %}
    <div class="flex justify-center mt-8">
        <img src="/static/images/smapse-dagestanskij-gosudarstvennyj-universitet-1.png" class="rounded-lg w-1/3 h-auto">
        <img src="/static/images/s.jpg" class="rounded-lg w-1/4 h-auto ml-4">
    </div>
    <div class="max-w-3xl mx-auto px-8 py-24 text-center">
        <h1>Контакты</h1>
        <ul>
            <li>Наш адрес: г. Махачкала, </li>
            <li>ул. Дзержинского,12 </li>
            <li>Лабораторный корпус, кабинет № 412.</li>
            <li>Эл. почта: nudurmagomedov@mail.ru</li>
        </ul>
    </div>
{% endblock %}
