{% extends 'layouts/blank.html' %}

{% block content %}
    <div class="flex justify-center mt-8">
        <img src="/static/images/smapse-dagestanskij-gosudarstvennyj-universitet-1.png" class="rounded-lg w-1/3 h-auto">
        <img src="/static/images/s.jpg" class="rounded-lg w-1/4 h-auto ml-4">
    </div>
    <div class="max-w-3xl mx-auto px-8 py-24 text-center">
        <h1>Основные направления работы ЦСОТ имени С.М. Омарова</h1>
        <ul class="text-left">
            <li><b>1.</b> Разработка, обоснование, апробация и внедрение новых образовательных технологий.</li>
            <li><b>2.</b> Выявление инноваторов университета и помощь им в разработке, организации и оформлении мастер-классов и инновационных технологий.</li>
            <li><b>3.</b> Поиск инновационных технологий в педагогических исследованиях, периодической печати и интернет ресурсах и адаптация их к условиям работы университета.</li>
            <li><b>4.</b> Создание школы педагогического мастерства для молодых преподавателей.</li>
            <li><b>5.</b> Организация научно-методических конференций и семинаров для преподавателей университета и других вузов.</li>
            <li><b>6.</b> Обмен опытом инновационной деятельности с другими вузами Республики Дагестан и России.</li>
        </ul>
    </div>
{% endblock %}
