{% extends 'layouts/blank.html' %}

{% block content %}
    <div class="flex justify-center mt-8">
        <img src="/static/images/smapse-dagestanskij-gosudarstvennyj-universitet-1.png" class="rounded-lg w-1/3 h-auto">
        <img src="/static/images/s.jpg" class="rounded-lg w-1/4 h-auto ml-4">
    </div>
    <div class="max-w-3xl mx-auto px-8 py-24 text-center">
        <h1>Методика подготовки, организации и оформления мастер-класса.</h1>
        <div class="text-left">
            Мастер – это специалист, достигший высокого искусства в своем деле.
            Педагогическое мастерство выражается через следующие компоненты деятельности:
            - психолого-педагогическую и научно-предметную эрудицию;
            - профессиональные способности и умения;
            - педагогическую технику и наличие авторских методов, приемов и новых учебных средств;
            - личностные качества открытого поведения и привлечения внимания к своей работе.
            Мастер-класс – это форма  прямой или опосредованной презентации опыта мастера с качественным результатом и возможностью обучения других  его оригинальным технологиям.
            Структурная конструкция мастер-класса:
            1.      Неожиданное, интригующее и  привлекающее внимание название.
            2.     Новая оригинальная идея мастера о совершенных формах педагогических процессов, которые он предлагает.
            3.     Актуальность технологий мастера для современной школы или вуза
            4.      Цель и основные задачи мастера для данного мастер-класса.
            5.     Научные и методические основания идеи и технологий.
            6.      Оригинальные действия, методы, приемы или средства мастера.
            7.      Качественно новый результат.
            8.     Критерии оценки для рефлексии и обсуждения
            9.     Рекомендации к использованию опыта мастера
            Если мастер-класс проводится с преподавателями, все эти элементы мастер демонстрирует на своих средствах, по ходу комментируя их преимущества и новые возможности. После демонстрации опыта мастера, присутствующие выясняют свои сомнения и дают оценку педагогическому событию в ходе корпоративного обсуждения.
            Если такое событие проводится со студентами, то новые возможности опыта мастера будут видны и без комментариев. Новое видение мастера и мнение методистов согласовываются после занятия и разработкой рекомендаций к использованию опыта мастера в работе других преподавателей университета.
            Для всех мастер-классов проводится видеосъемка, на основе которой производится монтаж оригинальных приемов, технологий или средств мастера, которые будут размещены на сайте университета в рубрике «Мастерская успешного преподавателя».
            Печатный и электронный вариант мастер- классов с полным описанием содержания будут храниться также и в Центре современных образовательных технологий университета.
            Директор ЦСОТ им. С.М. Омарова,
            профессор  А.Н. Нюдюрмагомедов
        </div>
    </div>
{% endblock %}
